In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alexandria,EG,2021-01-11 12:57:32,31.2156,29.9553,71.28,54,0,14.94
1,1,Avarua,CK,2021-01-11 12:56:27,-21.2078,-159.7750,77.00,88,75,6.91
2,2,Oussouye,SN,2021-01-11 12:59:43,12.4850,-16.5469,82.40,38,0,16.11
3,3,Glace Bay,CA,2021-01-11 12:59:43,46.1969,-59.9570,28.00,80,75,8.05
4,4,Tasiilaq,GL,2021-01-11 12:54:05,65.6145,-37.6368,19.40,53,75,3.44

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

# Create the heatmap for the maximum temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure()

# Assign the heatmap variable
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Center heatmap and adjust zoom so that only one map of Earth is shown by modifying gmaps.figure() attribute
# Create the heatmap for the maximum temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Center heatmap and adjust zoom so that only one map of Earth is shown by modifying gmaps.figure() attribute
# Create the heatmap for the maximum temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Create dissipation by modifying the gmaps.heat_layer() attribute
# Create the heatmap for the maximum temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

NameError: name 'temps' is not defined

In [11]:

# Create the heatmap for percent humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
humidity = city_data_df["Humidity"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Create the heatmap for percent cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
clouds = city_data_df["Cloudiness"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create the heatmap for wind speed
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
wind = city_data_df["Wind Speed"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Avarua,CK,2021-01-11 12:56:27,-21.2078,-159.7750,77.00,88,75,6.91
2,2,Oussouye,SN,2021-01-11 12:59:43,12.4850,-16.5469,82.40,38,0,16.11
6,6,Cap Malheureux,MU,2021-01-11 12:57:48,-19.9842,57.6142,80.01,91,51,5.01
7,7,Opuwo,NaN,2021-01-11 12:59:44,-18.0607,13.8400,81.95,30,33,6.51
9,9,Faanui,PF,2021-01-11 12:57:34,-16.4833,-151.7500,80.87,76,49,19.66
10,10,Cidreira,BR,2021-01-11 12:55:40,-30.1811,-50.2056,80.49,73,0,18.05
11,11,Rikitea,PF,2021-01-11 12:55:19,-23.1203,-134.9692,77.54,78,100,18.23
15,15,Atuona,PF,2021-01-11 12:55:15,-9.8000,-139.0333,76.73,81,72,15.61
28,28,Tiarei,PF,2021-01-11 12:59:44,-17.5333,-149.3333,75.20,78,40,17.27
45,45,Butaritari,KI,2021-01-11 12:57:32,3.0707,172.7902,81.27,82,21,19.04

In [30]:
preferred_cities_df.count()

City_ID       187
City          187
Country       186
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1           Avarua      CK     77.00 -21.2078 -159.7750
2         Oussouye      SN     82.40  12.4850  -16.5469
6   Cap Malheureux      MU     80.01 -19.9842   57.6142
7            Opuwo     NaN     81.95 -18.0607   13.8400
9           Faanui      PF     80.87 -16.4833 -151.7500
10        Cidreira      BR     80.49 -30.1811  -50.2056
11         Rikitea      PF     77.54 -23.1203 -134.9692
15          Atuona      PF     76.73  -9.8000 -139.0333
28          Tiarei      PF     75.20 -17.5333 -149.3333
45      Butaritari      KI     81.27   3.0707  172.7902

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get latitiude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the coordinates to a location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and coordinates
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get JSON data from search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Avarua,CK,77.00,-21.2078,-159.7750,Paradise Inn
2,Oussouye,SN,82.40,12.4850,-16.5469,Auberge du Routard
6,Cap Malheureux,MU,80.01,-19.9842,57.6142,Pereybere Hotel & Spa
7,Opuwo,NaN,81.95,-18.0607,13.8400,ABBA Guesthouse
9,Faanui,PF,80.87,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...
567,Vanimo,PG,79.63,-2.6741,141.3028,Vahmoneh Lodge Vanimo
569,Katobu,ID,78.33,-4.9408,122.5276,La Ode Husein
571,Nobres,BR,78.42,-14.7203,-56.3275,Eloáh Agência de Turismo
576,Buritizeiro,BR,81.28,-17.3511,-44.9622,Santos Palace Hotel
577,Bilma,NE,86.72,18.6853,12.9164,Expeditions Ténére voyages

In [55]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [59]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [14]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined